@font-face {
  font-family: "SeoulNamsan";
  src: url("../fonts/서울남산\ 장체L.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("../fonts/GmarketSansTTFMedium.ttf") format("truetype");
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("../fonts/GmarketSansTTFLight.ttf") format("truetype");
}

body > #pageContainer > div {
  width: 1920px;
  height: 1080px;
  background-color: #fff;
}

body {
  font-family: "GmarketSansMedium";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.dogImg {
  width: 50%;
  height: 100vh;
}

#txtA {
  position: absolute;
  top: 320px;
  left: 60%;
}
.t1 {
  width: 800px;
  font-size: 80px;
}
.t2 {
  position: absolute;
  left: 60px;
  font-size: 30px;
  top: 150px;
  letter-spacing: 0.35px;
  color: #6e6e6e;
}

#txtB {
  position: relative;
  padding-top: 500px;
}
.t3 {
  z-index: 13;
  position: relative;
  top: -350px;
  left: 950px;
  font-size: 60px;
}
.t4 {
  position: relative;
  top: 130px;
  left: 300px;
  font-size: 30px;
  color: #6e6e6e;
}

.t5 {
  position: relative;
  top: 110px;
  left: 300px;
  font-size: 30px;
  color: #6e6e6e;
}

.t6 {
  position: relative;
  top: 90px;
  left: 300px;
  font-size: 30px;
  color: #6e6e6e;
}
